<a href="https://colab.research.google.com/github/Tamondong-Ivan-Rex-B/CPE-031-Visualization-and-Data-Analysis/blob/ALL-DEMOS-CPE-031_TAMONDONG/DEMO_1_September_4%2C_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
#Example 1

import pandas

mydataset = {
  'animals': ["Cat", "Dog", "Rabbit"],
  'height': [13, 17, 8]
}

myvar = pandas.DataFrame(mydataset)

print(myvar)

  animals  height
0     Cat      13
1     Dog      17
2  Rabbit       8

In [ ]:
#Example 2 Locating using index

#import pandas as pd
import pandas

a = [1, 7, 2]

#myvar = pd.Series(a)
myvar = pandas.Series(a)

print(myvar)
print(myvar[0])

0    1
1    7
2    2
dtype: int64
1

In [ ]:
#Example 3 Naming Indexes


import pandas as pd

a = [1, 7, 2,]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)
print(myvar["y"])

x    1
y    7
z    2
dtype: int64
7

In [ ]:
#Example 4 Dictionary

import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390} # {key:pair}

myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [ ]:
#Example 5 String

import pandas as pd

data = {
    "age": [42, 38, 39],
    "weight": [50, 40, 45]
}

myvar = pd.DataFrame(data)

print(myvar)

   age  weight
0   42      50
1   38      40
2   39      45

In [ ]:
#Example 6 Locating kineme
import pandas as pd

data = {
    "age": [42, 38, 39],
    "weight": [50, 40, 45]
}

myvar = pd.DataFrame(data)

print(myvar)
#refer to the row index:
print(myvar.loc(0))

#Return row 0 and 1:
#use a list of indexes:
print(myvar.loc[[0,1]])

   age  weight
0   42      50
1   38      40
2   39      45
<pandas.core.indexing._LocIndexer object at 0x7ba3fb830c80>
   age  weight
0   42      50
1   38      40

In [ ]:
#Example 7 Named Index

import pandas as pd

data = {
    "calories": [420, 380, 390],
    "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [ ]:
#Example 8 Locate Named Index

import pandas as pd

data = {
    "calories": [420, 380, 390],
    "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)
print(df.loc["day2"])

      calories  duration
day1       420        50
day2       380        40
day3       390        45
calories    380
duration     40
Name: day2, dtype: int64

In [ ]:
import pandas as pd

df = pd.read_csv('/content/drive/Othercomputers/My Laptop/TIP QC/TIP/Computer Engineering/2ND YEAR/1ST SEMESTER/CPE 031 Visualizations and Data Analysis/Midterms/RoadAccidents.csv')

print(df)
#print(df.to_string())

     Million Plus Cities   Cause category        Cause Subcategory  \
0                   Agra  Traffic Control  Flashing Signal/Blinker
1                   Agra  Traffic Control  Flashing Signal/Blinker
2                   Agra  Traffic Control  Flashing Signal/Blinker
3                   Agra  Traffic Control  Flashing Signal/Blinker
4                   Agra  Traffic Control  Flashing Signal/Blinker
...                  ...              ...                      ...
9545               Vizaq          Weather              Sunny/Clear
9546               Vizaq          Weather              Sunny/Clear
9547               Vizaq          Weather              Sunny/Clear
9548               Vizaq          Weather              Sunny/Clear
9549               Vizaq          Weather              Sunny/Clear

            Outcome of Incident   Count
0            Greviously Injured     0.0
1                  Minor Injury     0.0
2                Persons Killed     0.0
3                 Total Injured     0.0
4     Total number of Accidents     0.0
...                         ...     ...
9545         Greviously Injured   561.0
9546               Minor Injury   252.0
9547             Persons Killed   176.0
9548  Total number of Accidents  1207.0
9549              Total Injured   813.0

[9550 rows x 5 columns]